

#modal-container {
    display: none; 
}

#modal-container.is-visible {    
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 50%;
    left: 50%;    
    max-width: auto;       
    background: rgb(126, 22, 22);
    justify-content: center;
    
    /* to show it above other content */
    z-index: 999;

    /*to allow scrolling if the screen is not high enough */
    overflow: auto;

    /* this is used to center the modal */
    display:grid;
    text-align: center;
}

.button-class {   
    border: 2px;    
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: lightyellow;    
    border: 2px solid black;
    list-style-type: none; 
}

.pokemon-list {
    text-align: center;
    list-style-type: none;
    border: 2px;    
}

.main-heading {
    text-align: center;
    text-decoration: none;
    font-family:'Trebuchet MS';
}

.modal-close {
    float: grid;
    text-decoration: underline;    
}