.page-header {
  background-color:brown;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-header img {
  max-width: 100px; 
  height: auto; 
}
.page-header h1 {
  margin-left: 10px; 
  text-align: center;
  font: size 200px;;
}
.container {
  background-color: #446376;
  border-radius: 10px;
}
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: xx-large;
}

.pokemon-list li {
  flex-basis: 18%; /* Adjust this value as needed */
  margin-bottom: 20px; /* Adjust margin as needed */
}
